<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our666</title>
    <link href="~/Static/SUI-Mobile/css/sm.css" rel="stylesheet" />
    <link href="~/Static/SUI-Mobile/css/sm-extend.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now - our666</p>
        </footer>
    </div>
    <script src="~/Static/SUI-Mobile/js/zepto.min.js"></script>
    <script src="~/Static/SUI-Mobile/js/sm.js"></script>
    <script src="~/Static/SUI-Mobile/js/sm-extend.js"></script>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
