<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" />
    <meta charset="utf-8" />
    
    <title>our666</title>
    <link href="~/Static/SUI-Mobile/css/sm.css" rel="stylesheet" />
    <link href="~/Static/SUI-Mobile/css/sm-extend.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        
        body {

            overflow-y: auto;
            overflow-x: auto;
        }
    </style>
   

</head>
<body>



<div class="container body-content">
    <div  style="display: none" ><audio  src="~/Static/Mp3/Fade.mp3"  controls="controls" id="audio">
   
</audio></div>
   
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now - our666</p>
        &nbsp;友情链接&nbsp;&nbsp;&nbsp;<a href="https://www.luyuhai.com/" target="_blank">fixmath</a>

    </footer>
</div>
    <script src="~/Static/SUI-Mobile/js/zepto.min.js"></script>
    <script src="~/Static/SUI-Mobile/js/sm.js"></script>
    <script src="~/Static/SUI-Mobile/js/sm-extend.js"></script>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
